.milkdown-editor {
  width: 100%;
  min-height: 100%;
  overflow: visible;
  padding: 0;
  background-color: inherit;
  color: inherit;
}

body.typora-theme-scope .typora-write-host,
body.typora-theme-scope .typora-write-host > div,
body.typora-theme-scope .typora-write-host .milkdown {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: inherit;
}

body.typora-theme-scope #write {
  position: relative;
  min-height: 100%;
  top: 0;
  margin: 0 auto;
  height: auto;
  width: inherit;
  word-break: normal;
  word-wrap: break-word;
  white-space: normal;
  background-color: inherit;
  overflow-x: visible;
  -webkit-user-drag: none;
  padding-bottom: 70px;
  transition: .4s padding-top ease-out;
}

body.typora-theme-scope.typora-node #write {
  min-height: 100%;
  top: 0;
}

body.typora-theme-scope #write::after {
  content: "";
  font-size: 0;
  display: block;
  height: 0;
}

body.typora-theme-scope #write h1,
body.typora-theme-scope #write h2,
body.typora-theme-scope #write h3,
body.typora-theme-scope #write h4,
body.typora-theme-scope #write h5,
body.typora-theme-scope #write h6,
body.typora-theme-scope #write p,
body.typora-theme-scope #write pre {
  width: inherit;
  position: relative;
}

body.typora-theme-scope #write h1,
body.typora-theme-scope #write h2,
body.typora-theme-scope #write h3,
body.typora-theme-scope #write h4,
body.typora-theme-scope #write h5 {
  white-space: pre-wrap;
}
